.about-text{
    color: white;
}

.image-column{
    img{
        display: block;
        max-width: 100%;
        height: 20rem;
        width: auto;
        // height: auto;
        border: 10px solid white;
    }
}