.contact-description{
    color: white;
}

// Variables
$social-media-link-dimensions: 45px !default;
$social-media-link-border-radius: 4px !default;
$social-media-link-color: #fff !default;
$social-media-link-font-size: 20px !default;
$social-media-link-space-between: 4px !default;
$social-media-link-hover-top-shifting: -16px !default;
$social-media-color-facebook: white;
$social-media-color-twitter: #5AC2F0;
$social-media-color-instagram: #bc2a8d;
$social-media-color-linkedin: #4390B5;
$social-media-color-youtube: #C34A47;

$backgrounds: (
  "facebook": $social-media-color-facebook,
  "twitter":$social-media-color-twitter,
  "instagram":$social-media-color-instagram,
  "linkedin":$social-media-color-linkedin,
  "youtube":$social-media-color-youtube
);

@each $network, $color in $backgrounds {
  .social-media-link--#{$network} {
    &:before {
      background-image: linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 49%, $color 50%);
    }
  }
}

.social-media-links {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-media-link {
  width: $social-media-link-dimensions;
  height: $social-media-link-dimensions;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $social-media-link-color;
  font-size: $social-media-link-font-size;
  position: relative;
  transition: transform .50s ease-in-out;
  > i {
    z-index: 1;
  }
  &:before {
    width: $social-media-link-dimensions;
    height: $social-media-link-dimensions;
    border-radius: $social-media-link-border-radius;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position .55s cubic-bezier(.79,.14,.15,.86);
  }
  &:hover,
  &:active,
  &:focus {
    transform: translateY($social-media-link-hover-top-shifting);
    /* This padding-bottom helps the pointer do stay inside the link,
    avoiding the animation to flicker. */
    padding-bottom: abs($social-media-link-hover-top-shifting) * 2;
    &:before {
      background-position: top right;
    }
  }
  + .social-media-link {
    margin-left: $social-media-link-space-between;
  }
}

.social-media-icon{
    z-index: 1;
    color: #187cc7;
}

.contact-section{

}

#contact{
  padding-bottom: 80px;
  border-bottom: 50px solid #187cc7; 
}

.other-contact-details{
  h6{
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  p{
    margin-bottom: 0.5rem;
  }
}