body{
    overflow-x: hidden;
    background-color: #12232E !important;
}

.home{
    height:50rem;
    width: 20rem;
    // background: red;
}

.page-main-heading{
    color: #4DA8DA;
    font-size: 10vw;
    opacity: 0.5;
    margin-bottom: 3rem;
}

.custom-container{
    width: 100%;
    background: #12232E;
    padding-top: 60px;
    min-height: 100vh;
}


