.project-card-container{
    height: 40vh;
    width: 50vh;
    background-color: #2f6585;
    border: 3px solid #187cc7;
    margin: 0.5rem;
    padding: 10px;
    border-radius: 5px;
}

.project-card-container:hover{
    background-color: #187cc7;
    border-radius: 10px;
}

.project-card-container-image{
    height: 32vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-card-container-details{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    // div{
    //     margin: auto;
    // }
}

.pc-github-btn{
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background: brown;
}

.project-card-container-details-name{
    margin: auto;
    font-size: 20px;
    margin-top: 5px;
}